<div style="text-align:center;">
<div class="figure">
<img src="logo.png" alt="Logo" />
<p class="caption">Logo</p>
</div>
</div>
<h1 id="impantació-daplicacions-web">Impantació d'aplicacions web <!-- [MP9](MP9.md)--></h1>
<hr />
<ul>
<li><strong>UF1</strong>: Llenguatges de guions de servidor<!-- (MP9.md#MP9UF1AC)-->
<ol style="list-style-type: decimal">
<li>Servidors de pàgines dinàmiques <!-- (MP9.md#acMP9UF1A1) -->
<ul>
<li><a href="UF1/A1/T1.md">Configurar l’entorn de desenvolupament</a></li>
<li><a href="UF1/A1/T2.md">Consultar documentació en línia</a></li>
<li><a href="UF1/A1/T3.md">Inspeccionar scripts amb exemples bàsics</a></li>
<li><a href="UF1/A1/T4.md">Programar scripts en l’estil del CGI</a></li>
<li><a href="UF1/A1/PE1.md">PE1: Conceptes bàsics del protocol HTTP</a></li>
<li><a href="UF1/A1/EP1.md">EP1: Programació d’scripts</a></li>
</ul></li>
<li>Sistemes de plantilles Web<!-- (MP9.md#acMP9UF1A2)-->
<ul>
<li><a href="UF1/A2/T1.md">Crear plantilles</a></li>
<li><a href="UF1/A2/T2.md">Connectar plantilles amb scripts</a></li>
<li><a href="UF1/A2/T3.md">Crear formularis md</a></li>
<li><a href="UF1/A2/PE1.md">PE1: Conceptes bàsics de les plantilles basades en XML</a></li>
<li><a href="UF1/A2/EP1.md">EP1: Creació de pàgines dinàmiques</a></li>
</ul></li>
<li>Accés a bases de dades<!-- (MP9.md#acMP9UF1A3)-->
<ul>
<li><a href="UF1/A3/T1.md">Gestionar les connexions a la base de dades</a></li>
<li><a href="UF1/A3/T2.md">Consultar i actualitzar la base de dades</a></li>
<li><a href="UF1/A3/T3.md">Dissenyar la interfície d’usuari</a></li>
<li><a href="UF1/A3/PE1.md">PE1: Implementació elemental de bases dades amb Python</a></li>
<li><a href="UF1/A3/EP1.md">EP1: Creació de formularis connectats a la base de dades</a></li>
</ul></li>
</ol></li>
<li><strong>UF2</strong>: Implantació de gestors de continguts<!-- (MP9.md#MP9UF2AC)-->
<ol style="list-style-type: decimal">
<li>Tecnologies de suport<!-- (MP9.md#acMP9UF2A1)-->
<ul>
<li><a href="UF2/A1/T1.md">Editar continguts amb MarkDown</a></li>
<li><a href="UF2/A1/T2.md">Gestionar repositoris amb Git</a></li>
<li><a href="UF2/A1/EP1.md">EP1: Utilització de les tecnologies de suport</a></li>
</ul></li>
<li>Preparació dels continguts<!-- (MP9.md#acMP9UF2A2)-->
<ul>
<li><a href="UF2/A2/T1.md">Configurar l’entorn de treball</a></li>
<li><a href="UF2/A2/T2.md">Processar continguts</a></li>
<li><a href="UF2/A2/EP1.md">EP1: Processament de continguts</a></li>
</ul></li>
<li>Publicació de continguts<!-- (MP9.md#acMP9UF2A3)-->
<ul>
<li><a href="UF2/A3/T1.md">Configurar l’entorn de treball</a></li>
<li><a href="UF2/A3/T2.md">Publicar continguts a Internet</a></li>
<li><a href="UF2/A3/EP1.md">EP1: Publicació de continguts</a></li>
</ul></li>
<li>Gestors de continguts estàtics<!-- (MP9.md#acMP9UF2A4)-->
<ul>
<li><a href="UF2/A4/T1.md">Configurar l’entorn de treball</a></li>
<li><a href="UF2/A4/T2.md">Publicar continguts a Internet</a></li>
<li><a href="UF2/A4/EP1.md">EP1: Adaptació del gestor de continguts</a></li>
<li><a href="UF2/A4/TR1.md">TR1: Documentació del treballs realitzats</a></li>
</ul></li>
</ol></li>
</ul>
<hr />
